* {
    margin: 0%;
}

#body2{
    display: grid;
    justify-items: center;
    align-items: center;
    height: 600px;
}

#body2 h2{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    text-align: center;
    line-height: 20px;

    /*Stretching the text */
    display: inline-block;
    transform: scale(1, 1.2);
}

#log-in_account_form{
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;

    /*sizing */
    width: 50%;
    height: 80%;

    /*Change the border */
    border: 3px solid black;
    border-radius: 40px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
}

#log-in_account_form label{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    text-align: center;
    line-height: 20px;
    margin-top: 20px;

    /*Stretching the text */
    display: inline-block;
    transform: scale(1, 1.2);
}

#account_buttons_grid{
    display: grid;
    gap: 20px;
    width: 80%;
    grid-template-columns: 50px, 50px;
    grid-auto-rows: minmax(100px, 1fr);
    align-items: center;
    justify-items: center;
}

#create_account_submit{
    border-radius: 270px;
    width: 60%;
    height: 70px;
    grid-column: 2;
}

#log-in_account_submit{
    grid-column: 1;
}

.account_inputs{
    /* relative by 1.6 or 60% */
    width: 80px;
    height: 50px;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    background-color: #9F5050;
    box-shadow: 0 9px #999;
    border-radius: 14px;
    border: none;
}

.account_inputs:hover {
    background-color: #653838;
}

.account_inputs:active {
    background-color: #653838;
    box-shadow: 0 4px #666;
    transform: translateY(5px);
}