footer{
    background-color: black;
    display: grid;
    align-items: center;
    justify-items: center;
    width: 100%;
    margin-top: 250px;
}

#footer p {
    color: white;
    font-size: 25px;
    margin-bottom: 18px;
    margin-top: 18px;
}

#footer ul {
    list-style-type: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    color: white;
    outline: none;
    height: 140px;
    line-height: 25px;
}

#footer li a:link{
    text-decoration: underline;
    outline: none;
    color: white;
}

#footer li a:active{
    text-decoration: underline;
    outline: none;
    color: white;
}

#footer li a:hover{
    text-decoration: underline;
    outline: none;
    color: white;
}

#footer li a:visited{
    text-decoration: underline;
    outline: none;
    color: white;
}